@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    background-color: black;
    font-family: 'Rubik', sans-serif;
}
.navbar{
    background-color: rgb(73, 41, 94);
    height: 50px;
    align-content: center;
}
.navbar li{
    display:inline-block;
    margin-right: 20px;
    color: aliceblue;
}
.navbar ul{
    text-align: center;
}
.img-text{
    display:flex;
    justify-content: center;
    margin-top: 80px;
    align-items: center;
    padding-bottom: 200px;
}
#profilePic{
    height: 200px;
    width: 200px;
    border-radius: 200px;
}
#profileTxt{
    color: aliceblue;
    margin-left: 40px;
    max-width: 350px;
    min-width: 150px;
    text-align: justify;
    font-size: small;
}
#firstP{
    text-align: center;
    font-size: 20px;
}
.prjts{
    text-align: center;
    color: aliceblue;
}
.prjtInd{
    display: inline-flex;
    background-color: rgb(31, 18, 39);
    margin-right: 30px;
    margin-left: 30px;
    
}
.prjtTxt{
    height: 10px;
    width: 200px;
    margin-left: 10px;
}
.prjts img{
    height: 150px;
    width: 200px;
}
.prjts h5, .prjts p, .prjts a{
    text-align: start;
    position:relative;
}
.prjts h5{
    bottom: 10px;
}
.prjts p{
    margin-left: 10px;
    height: 100px;
    width: 180px;
    bottom: 20px;
    font-size: small;
}
.prjts a{
    font-size: small;
    bottom: 60px;
}